@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* ==============================
    afritalent css 
============================== */

/* ----initialisation---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*  ==================
        variable
    ================== */
:root {
    /* ---police--- */
    --font-titel: 'Playfair Display', serif;
    --font-para: 'DM Sans', sans-serif;

    /*---------------------
            couleur 
    -----------------------*/

    --primary: #7c3aed;
    --bs-primary-rgb: 124, 58, 237;

    --bg-span-out: #ede9fe;
    --bg-span-out-rgb: 237, 233, 254;

    --bg: #ffffff;
    --bs-bg-rgb: 255, 255, 255;

    --card: #f9f9f9;
    --card-rgb: 249, 249, 249;

    --border: #e5e5e5;
    /* --bs-success-rgb: 229, 229, 229; */

    --text: #0a0a0a;

    --text-muted: #737373;
    --text-muted-rgb: 115, 115, 115;

    --primary-dark: #a78bfa;
}

/* ======================
    dark mod 
========================= */

body.dark {
    --primary-dark: #a78bfa;

    --bg-dark: #171717;

    --card-dark: #1f1f1f;

    --border: #2a2a2a;

    --card-dark: #1f1f1f;

    --text-dark: #f5f5f5;

    --bs-navbar-bg: var(--bg-dark);

    --text-muted: #a3a3a3;

    background-color: var(--bg-dark);

    color: var(--text-dark);

}

.navbar {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    transition: 0.3s ease;
}

body.dark .navbar {
    background: transparent;
    border: 1px solid var(--border);
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5 {
    color: var(--text-dark);
}

body.dark p,
body.dark span,
body.dark a {
    color: var(--text-muted);
}

body.dark footer,
body.dark .service {
    background-color: var(--card-dark);
}


body.dark .cardInServ {
    background-color: var(--border);
}

body.dark .search {
    background-color: var(--border);
}

body.dark .txtSpan {
    background-color: var(--card);
    color: var(--bg-dark);
}

body.dark .bg-free {
    background: transparent;
    color: var(--bg);
}

/* ==================================
    animation de scrollY 
====================================*/

.navbar.scrollNavabar {
    width: 88vw;
    box-shadow: 0 0 200px var(--primary);
}

.card {
    background: var(--card);
}

body {
    background-color: var(--bg);
    font-family: var(--font-para);
    transition: all 0.3s ease;
}

.tittel {
    font-size: 4em;
}

/* ===================================
    btn principale et secondaire 
===================================== */

/* bouton principale */
.btn-primary {
    background-color: var(--primary);
    color: var(--bg);
    font-weight: bold;
    border: 1px solid var(--border);
    transition: 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--primary);
    box-shadow: inset 0 0 10px var(--bg);
    border: 1px solid var(--primary);
}

.btn-primary:active {
    background-color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
}

/* bouton secondaire */
.btn-outline-primary {
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    transition: 0.3s ease;
}

.btn-outline-primary:hover {
    background-color: transparent;
    color: var(--primary);
    box-shadow: inset 0 0 20px var(--primary);
    border: 1px solid var(--primary);
}

.btn-outline-primary:active {
    border: 1px solid var(--primary) !important;
}

.form-control:focus {
    border: none;
    box-shadow: 0 0.20rem var(--primary);
}

/* ===================
taille et font fammily 
====================== */
h1,
h2,
h3,
h4,
h5 {
    color: var(--text);
    font-family: var(--font-titel);
}

a {
    text-decoration: none;
}

h1 {
    font-size: clamp(2rem, 4.5vw, 4rem);
}

h2 {
    font-size: clamp(1.5rem, 3vw, 3.5rem);
}

h3 {
    font-size: clamp(1.6rem, 3.5vw, 2.5rem);
}

h4 {
    font-size: clamp(1.3rem, 2.5vw, 2rem);
}

.navbar-brand img {
    width: 120px;
}

.mat {
    margin-top: 8rem;
}

.mab {
    margin-bottom: 6rem;
}

.txtSpan {
    background: var(--bg-span-out);
    border: 1px solid var(--border);
    color: var(--text);
    font-size: .6em;
}

section {
    padding: 3rem 0;
}


/* ====================
Page d'acceuil
=======================*/

.navbar {
    width: 92vw;
}

.pHero {
    font-family: var(--font-para);
}

.bc {
    border-inline-end: 0.2px solid var(--border);
}


.imgprocess img {
    padding: 1rem 0;
    width: 35px;
}

.service {
    background-color: var(--bg-span-out);
}

.marq-aprv img {
    height: 20px;
    object-fit: cover;
    flex-shrink: 0;
    filter: brightness(0) saturate(100%) invert(30%);
}

.marq-aprv {
    width: max-content;
    animation: marque-index 30s linear infinite;
}

/* ------------------------------------------------
bande defilant avec des img de marque 
--------------------------------------------------- */
@keyframes marque-index {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-25%);
    }

}

/* ---------------------------
styl des icone type ippal
------------------------------- */
.imgprocess,
.iconefonct {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .8rem;
    background: linear-gradient(to bottom, rgba(112, 37, 233, .25), rgba(225, 225, 225, .50));
}

.bento-index {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;

    grid-template-areas:
        "card1 card1 card1 card1 card2 card2"
        "card3 card3 card3 card4 card4 card4"
    ;
}

.card1 {
    grid-area: card1;
}

.card1>div {
    color: var(--bg);
    background: var(--primary);
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card3>div {
    color: var(--bg);
    background: var(--text);
}

.card4 {
    grid-area: card4;
}

.card4>div {
    color: var(--text);
    background: var(--primary-dark);
}

@media (320px <=width <=480px) {
    .bento-index {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;

        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
        ;
    }
}

@media (min-width : 481px) and (max-width : 1024px) {

    .bento-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;

        grid-template-areas:
            "card1 card2"
            "card1 card2 "
            "card3 card3"
            "card4 card4"
        ;
    }
}

.categorie>div:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 0 2px var(--primary-dark);
}

.iconefonct {
    margin-top: 1.4rem;
}

.imgavis img {
    width: 50px;
    height: 50px;
}

.ctaindex {
    background: linear-gradient(to bottom, #7c40c900, #020203);
    height: 70vh;
}

/* animation */
.process {
    transition: 0.3s ease;
}

.process:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.categorie>div {
    transition: 0.3s ease;
}

.valeur img {
    width: 5vw;
}

/* ===========================================
page frellence
============================================== */
.recherche::-webkit-scrollbar {
    display: none;
}

.bg-free {
    background: transparent;
}

.search {
    background-color: var(--bg-span-out);
    z-index: 1000;
    top: 5rem;
}

.recherche {
    margin-top: 4.5rem;
}

.freelancepersonne p {
    font-size: .8rem;
}

.freelance-avatar {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.text-warning {
    font-size: .8rem;
}

.verifiez {
    font-size: .8rem;
}


/* ============================================
 page Tarif 
 ============================================== */
.tarifpopulaire {
    background-color: transparent;
    background: linear-gradient(to bottom, #6116db11, #6116db56);
}

.accordion-button {
    background-color: var(--white);
    border: 1px solid var(--bs-primary);
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: var(--white);
    /* selection des btn accordion qui ne sont pas ferme */
}

/* ===========================================
page about 
============================================== */
.img-hom-about {
    width: 30vw;
}

.bentoabout1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    grid-template-areas:
        "big-about  big-about card-simple1"
        "big-about  big-about card-simple2"
    ;
}

.big-about {
    grid-area: big-about;
}

.card-simple1 {
    grid-area: card-simple1;
}

.card-simple2 {
    grid-area: card-simple2;
}


@media (320px <=width <=480px) {
    .bentoabout1 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;

        grid-template-areas:
            "big-about"
            "card-simple1"
            "card-simple2"
        ;
    }
}

@media (min-width : 481px) and (max-width : 1024px) {

    .bentoabout1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

        grid-template-areas:
            "big-about big-about"
            "card-simple1 card-simple2"

        ;
    }
}


/* animation avec bande defillant  */
.pays {
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-70%);
    }
}

.etap-histoire {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.etap-hist {
    background-color: var(--background);
}

.histoire2025 {
    background: linear-gradient(to right, #6116db, #6116db96);
}

@media (320px <=width <=480px) {
    .etap-histoire {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 150px);
        gap: 2rem;
    }

    .tittel {
        font-size: 2.5rem;
    }
}

@media (min-width : 481px) and (max-width : 1024px) {
    .etap-histoire {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 150px);
        gap: 2rem;
    }

    .tittel {
        font-size: 2.5rem;
    }

}

/* ====================================
page blog
======================================= */

.bloghome {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../image/blog.jpg');
    height: 100vh;
}

.articleentete {
    background-color: var(--primary);
    height: 20vh;
}

.pink {
    color: var(--bs-danger);
}

.article:hover {
    transform: translateY(-10px);
}

.lienartical,
.article {
    transition: 0.3s ease;
}

.lienartical:hover {
    text-decoration: underline;
}

/* =====================================
contact
======================================== */
.ifa {
    width: 100%;
    height: 100%;
}


/* ===============================
page Authentification
================================= */
.auth img {
    height: 20px;
}


/* ============================
footer
=============================== */
footer {
    border-top: .5px solid var(--border);
    color: var(--text-night);
    background-color: var(--bg-span-out);
}

footer p,
footer a,
footer address,
footer span {
    color: var(--text);
}

footer h5 {
    color: var(--text);
}

.animationfooter a {
    transition: 0.3s ease;
}

.animationfooter a:hover {
    text-decoration: underline;
}

.liensociale a {
    transition: 0.3s ease;
    ;
}

.liensociale a:hover {
    background-color: #ffffff54;
}

.bento {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 180px;
    gap: 1.2rem;
}

/*=============================
btn de romonte
=============================== */
#btnRemonte {
    margin: 2rem;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}

.btnRemonte {
    pointer-events: none;
}

#btnRemonte.btnRmtAfficher {
    pointer-events: auto;
    opacity: 1;
}

/*=====================================================
Les sections qui apparaissent en fondu
===================================================== */

section {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, 0.6s ease-in-out;
}

section.visbleSection {
    opacity: 1;
    transform: translateY(0);
}

/*=====================================================
cache et reaparition des freelances 
===================================================== */

article {
    display: none;
}

article.visi {
    display: block;
}

/* =================================================
 validation du formulaire de contac
================================================== */
.erreurNom,
.erreurPrenom,
.erreurMail,
.erreurMessage {
    display: none;
}

.erreurNom.erreurVisible {
    display: block;
}

.erreurPrenom.erreurVisible {
    display: block;
}

.erreurMail.erreurVisible {
    display: block;
}

.erreurMessage.erreurVisible {
    display: block;
}
/* =============================================
puppup apres validation formulaire
================================================= */
.pupPupMessage {
    background: rgba(14, 255, 6, 0.509);
    backdrop-filter: blur(20px);
    transition: 0.3s ease;
    padding: 4rem 2rem;
    border-radius: 1rem;
    position: fixed;
    z-index: 1000;
    margin-top: 6rem;
    display: none;
}
.pupPupMessage.messageVue{
    display: block;
}
.pupPupMessage.messageVueFerme{
    display: none;
}
